{% extends 'store/home.html' %}
{% load static %}
{% block home %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-8 col-sm-12">
				<h2>About Us</h2>
				<p style="font-size: 16px">
					Qath Accessories warehouse is an E-commerce Store of Formal and Informal Fashion Retail Brand of Men and Women. Established in 2023 with the philosophy, “Quality products and consistent customer care could only achieve long lasting success in market”. Our continuing journey for striving to strengthen the relationship with our valued customer by providing contemporary products with the assurance of best quality in formal and casual wear as well.<br><br>

					We believe in delivering an exceptional user experience, right from the moment you land on our site. Our system enables you to quickly find the desired products, while detailed product descriptions and high-resolution images provide you with a comprehensive understanding of each item. Additionally, we value customer feedback and reviews, which help you make informed purchasing decisions.<br><br>

					We have combined our brand building expertise, strong design capability and flexible services with value for money, resulting in a unique wear which has kept our customers satisfied and retained as a result of the quality in our products.<br><br>

					We will be available for your service in every area of Pakistan at any available time.<br><br>

					Please visit corresponding catalogues to view detailed information of our services and products.
				</p>
			</div>
			<div class="col-lg-4 col-sm-12">
				<img src="{% static "store/images/about.jpg" %}" width="100%">
			</div>
		</div>
	</div>

{% endblock %}
